<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Лог-файл будет создаваться каждый день в папке logs -->
    <target xsi:type="File" name="filedata"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  <rules>
    <!-- Записывать все сообщения уровня Debug и выше в файл -->
    <logger name="*" minlevel="Debug" writeTo="filedata" />
  </rules>
</nlog>
